@model Sksoft.Entity.Blog
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.Durum != null)
{
    <span style="background-color:indianred;color:white;padding:10px">@ViewBag.Durum</span>

}
@using(Html.BeginForm()){
    <div class="row">
        <div class="col-md-2">Blog Başlığı</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Baslik, new{@class="form-control"})</div>
    </div>
    <div class="row">
        <div class="col-md-2">Blog İçeriği</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Icerik, new{@class="form-control"})</div>
    </div>
    <div class="row">
        <div class="col-md-2">Blog Resmi</div>
        <div class="col-md-10">@Html.TextBoxFor(x=>x.Resim, new{@class="form-control"})</div>
    </div>
    <div class="row">
        <div class="col-md-12"><input type="submit" value="Düzenle" class="btn btn-success" /></div>
    </div>
}